header{
    background-color: rgb(255, 255, 255);
    color: rgb(138, 18, 18);
    text-align: center;
}

body{
    background-color: rgb(255, 255, 255);            
    color:dimgray;
}

#tituloinicio{
    color: rgb(255, 0, 170);

    
}

#secinicio{
    background-color:#66BFBF;
    color: rgb(255, 255, 255);
    padding: 0px 20px;
}

.sdotituloinicio{
    color: rgb(255, 0, 170);
    
}

.linksecciones{
    color: rgb(255, 0, 170);

}

.tercersubtituloinicio{
    color: rgb(252, 242, 227);

}

p{
    padding: 0px 20px;

}

h3{
    color: darkorange;
    padding: 0px 20px;

}
    
footer{
    background-color: #66BFBF;
    color: aliceblue;
    text-align: center;
}
.mockup{
    text-align: center;
}

