header
{
    background-color: #ffffff;
    text-align: center;

}
nav
{
    background-color: #ED50F1;

}


section
{
    background-color: #FFEDED;
    grid-column: 1/4;
}

aside
{
    grid-column: 4/5;
    background-color: RGB(29 161 242);
    text-align: center;

}

footer
{
    background-color: #FDB9FC;

}




                #tituloinicio{
                    color: #ffffff;
                    grid-column: 1/4;
                    
                }

                .sdotituloinicio{
                    color: rgb(0, 0, 0);
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .tercersubtituloinicio{
                    color: rgb(243, 243, 243);

                }

                .linksecciones{
                    color: rgb(255, 0, 170);
                }







main
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}